{% extends viewType %}
{% block content %}
<h1>Comming Events</h1>
{% if events %}
  <table>
  {% for ev in events %}
    <tr>
    <td><a href="/core/events/{{ ev.id }}/">{{ ev.device }}</a></td>
    <td>{{ ev.command }}</td>
    <td>{{ ev.doAt|date:"D H:i" }}</td>
    <td><a href="/core/events/{{ ev.id }}/cancel">Cancel</a></td>
    <td><a href="/core/events/{{ ev.id }}/delay/60/">Delay 1h</a></td>
    </tr>		  
  {% endfor %}
  </table>

{% else %}
    <p>No Events are available.</p>
{% endif %}
{% endblock %}
