{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/automagically/admin/css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<h1>Database backup done</h1>
Your database will now been restored from backup at next reboot that is happening right now.<p>

{% endblock %}
{% block sidebar %}
{% endblock %}
