{% extends viewType %}
{% block content %}
<form action="/signals/create/tellstick/" method="post">{% csrf_token %}
{{ form.as_p }}<p>
<input type="submit" value="Save" name="Save"/>
</form>
{% endblock %}
